header {
	max-width: 458px;
	width: 100%;
}

article {
	max-width: 458px;
	width: 100%;
	float: none;
}

div.rolar3 {
    overflow: auto;
    white-space: nowrap;
}

#imagem-cover2 {
	max-width: 172px;
	height: 314px;
	display: block;
	margin: 0px auto 0px auto;
}

#imagem-cover {
	display: none;
}

#largura-tabela-imagem-cover2 {
	max-width: 458px;
	width: 100%;
}

/*************************
*
*	MENU CSS
*
**************************/

nav {
	max-width: 458px;
	width: 100%;
}

.aparecer_menu458px {
	display: block;
}

#menu458px {
	display: block;
	margin: 0px;
	padding: 0px;
}

#desaparecerMenu {
	display: none;
}

ul#menu458px li {
	display: inline;
}

ul#menu458px li a {
	display: block;
	background-color: #4F2626;
	float: left;
	text-decoration: none;
	width: 100%;
	height: 20px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: white;
	font: Arial, Geneva, sans-serif;
	border-top:0.1em solid #CD9F5D;
	border-bottom:0.1em solid #CD9F5D;
}

ul#menu458px li a:hover {
	background: linear-gradient(to right, #814C46, #804C47);
}